@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Play:wght@700&display=swap');

body {
    max-width: 1440px;
    margin: 0 auto;
}

.flex-container, .menu-nav, .logo, nav ul, .login-cadastro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.flex-container {
    padding: 1% 2%;
}

.flex-container a {
    text-decoration: none;
}

.flex-container .logo {
    font-size: 18px;
    color: #3A404E;
    padding-right: 5vw;
}

.logo img {
    margin-right: 7px;
}

nav ul {
    width: 362px;
    padding-right: 10vw;
}

nav ul li a, .login-cadastro a {
    color: #667085;
}

.login-cadastro .botao-cadastrar {
    background-color: #8E2424;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
}

.botao-cadastrar, .botao-entrar, .logo, nav ul li a  {
    font-family: 'Inter', sans-serif;
}

.botao-entrar {
    padding-right: 25px;
}

.login-cadastro .botao-entrar, .login-cadastro, .botao-cadastrar, nav ul li a {
    font-size: 16px;
    font-weight: 500;
}
